In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("age and weight.xlsx")
df

     age   height  weight  gender likeness
0     27  170.688    76.0    Male  Biryani
1     41  165.000    70.0    Male  Biryani
2     29  171.000    80.0    Male  Biryani
3     27  173.000   102.0    Male  Biryani
4     29  164.000    67.0    Male  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0    Male   Pakora
241   26  172.000    70.0    Male  Biryani
242   40  178.000    80.0    Male  Biryani
243   25    5.700    65.0    Male  Biryani
244   33  157.000    56.0  Female   Samosa

[245 rows x 5 columns]

In [3]:
df["gender"]=df["gender"].replace("Male", 1)
df["gender"]=df["gender"].replace("Female", 0)

In [12]:
X=df[["weight", "gender"]]
Y=df[["likeness"]]

In [13]:
X

     weight  gender
0      76.0       1
1      70.0       1
2      80.0       1
3     102.0       1
4      67.0       1
..      ...     ...
240    60.0       1
241    70.0       1
242    80.0       1
243    65.0       1
244    56.0       0

[245 rows x 2 columns]

In [14]:
Y

    likeness
0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
..       ...
240   Pakora
241  Biryani
242  Biryani
243  Biryani
244   Samosa

[245 rows x 1 columns]

In [8]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)

In [15]:
model.fit(X, Y)
predicted=model.predict([[70,1]])
predicted

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

array(['Biryani'], dtype=object)

In [17]:
predicted=model.predict([[78,0]])
predicted

array(['Biryani'], dtype=object)

In [19]:
predicted=model.predict(X)
predicted

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Pakora', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani'],
      dtype=object)

TO TEST THE ACCURACY OF MODEL

SPLIT THE DATA

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [41]:
model=KNeighborsClassifier(7)
model.fit(X_train, Y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [42]:
predicted_values=model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [43]:
Score=accuracy_score(Y_test,predicted_values)
Score

0.673469387755102

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
predicted_values=model.predict(X_test)
predicted_values
Score=accuracy_score(Y_test,predicted_values)
Score

0.673469387755102

In [1]:
pip install TeX

Collecting TeX
  Downloading tex-1.8.tar.gz (4.2 kB)
Building wheels for collected packages: TeX
  Building wheel for TeX (setup.py): started
  Building wheel for TeX (setup.py): finished with status 'done'
  Created wheel for TeX: filename=tex-1.8-py3-none-any.whl size=5131 sha256=5ad02729be3bacc07b778d9ca74a1c7446de8dcffa4d8cbf5a382d3953934f2a
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\28\89\f2\8455d9d5d4555c9c3f80be3f69a9b5997a9579653064b4182a
Successfully built TeX
Installing collected packages: TeX
Successfully installed TeX-1.8
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install nbconvert

Requirement already satisfied: nbconvert in c:\users\admin\anaconda3\lib\site-packages (6.1.0)
Requirement already satisfied: testpath in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (0.5.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (0.5.3)
Requirement already satisfied: defusedxml in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: traitlets>=5.0 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (5.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (1.4.3)
Requirement already satisfied: jinja2>=2.4 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (2.11.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: jupyter-core in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (4.8.1)
Requirement already satisfied: bleach in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (4.0.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (2.10.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (0.3)
Requirement already satisfied: nbformat>=4.4 in c:\users\admin\anaconda3\lib\site-packages (from nbconvert) (5.1.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: nest-asyncio in c:\users\admin\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.5.1)
Requirement already satisfied: async-generator in c:\users\admin\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.10)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\admin\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (6.1.12)
Requirement already satisfied: pyzmq>=13 in c:\users\admin\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (22.2.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\admin\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=4.1 in c:\users\admin\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from jupyter-core->nbconvert) (228)
Requirement already satisfied: ipython-genutils in c:\users\admin\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\admin\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: six>=1.11.0 in c:\users\admin\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (1.16.0)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (58.0.4)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\admin\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\admin\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (21.2.0)
Requirement already satisfied: packaging in c:\users\admin\anaconda3\lib\site-packages (from bleach->nbconvert) (21.0)
Requirement already satisfied: webencodings in c:\users\admin\anaconda3\lib\site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging->bleach->nbconvert) (3.0.4)
Note: you may need to restart the kernel to use updated packages.